.board-tile {
  position: relative;
  overflow: hidden;

  cursor: pointer;
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  border-radius: 15%;
  background: #444;

  & .board-tile__image {
    width: 100%;
    height: 100%;

    transition: mask-size 0.25s ease-out, opacity 0.15s ease-in;

    opacity: 0;

    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,1));
    mask-image: url('./images/thumbnail.jpg');
    mask-size: 0% 0%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }

  &.board-tile--found,
  &.board-tile--revealed {
    cursor: auto;
    & .board-tile__image {
      opacity: 1;
      mask-size: 100% 100%;
      transition: mask-size 0.25s ease-out, opacity 0.1s ease-in;
    }
  }
}